[submodule "ros2_ws/src/vendor/unitree_ros2"]
	path = ros2_ws/src/vendor/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2.git
[submodule "ros2_ws/src/descriptions/unitree_description"]
	path = ros2_ws/src/descriptions/unitree_description
	url = https://github.com/inria-paris-robotics-lab/unitree_description.git
